/*
 Theme Name:   vanslooten.com
 Theme URI:    http://vanslooten.com/
 Description:  Fjodor's version of the Twenty Thirteen Theme. More info on how to create a child-theme of an existing: https://codex.wordpress.org/Child_Themes
 Author:       Fjodor van Slooten
 Author URI:   http://vanslooten.com/
 Template:     twentythirteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         blue, grey, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready
 Text Domain:  vanslooten.com
*/


/* Buttons */

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    background: #4482bf;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #4482bf 0%, #4482bf 100%);
    /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #4482bf 0%, #4482bf 100%);
    /* W3C */
    border: 1px solid #0040FF;
    border-radius: 1px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
    background: #777777;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #777777 0%, #777777 100%);
    /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #777777 0%, #777777 100%);
    /* W3C */
    border: 1px solid #0040FF;
    outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    background: #0086B3;
    /* Old browsers */
    background: -webkit-linear-gradient(top, #0086B3 0%, #0086B3 100%);
    /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #0086B3 0%, #0086B3 100%);
    /* W3C */
    border: 1px solid #0040FF;
}

.no-margin {
    margin: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

p {
    margin: 24px 0;
}

.site-header .home-link {
    max-width: 800px;
    padding: 0;
}

.site-title,
.site-description {
    /*Fjodor: is set in settings of theme: color: #4482bf;*/
    text-align: right;
}

.site-description {
    font-weight: 400;
    color: #fff!important;
}

.nav-menu li:hover>a,
.nav-menu li a:hover,
.nav-menu li:focus>a,
.nav-menu li a:focus {
    background-color: #4482bf;
}

.navbar {
    background-color: #EAEAEA;
}

.site-header .search-field:focus {
    border: 1px solid black;
}

.navbar .search-submit {
    display: none!important;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
    max-width: 800px;
    width: 96%;
}

.entry-meta {
    margin: 0;
}

.entry-content {
    padding: 20px 0;
}

.entry-content a.button {
    display: inline-block;
    width: auto;
    border: 2px solid #bc360a;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
}

.entry-header {
    margin-bottom: 0;
}

.site-footer .sidebar-container {
    background-color: #4482bf;
}

.site-footer .widget a {
    color: #0D0344;
}

.accordion-title:before {
    content: '+';
    margin-right: 5px;
}

.accordion-title.open:before {
    content: '-';
}

.accordion-title {
    cursor: pointer;
    color: #bc360a;
}

.accordion-title:hover {
    color: #ea9629;
}

div.accordion br {
    display: none;
    width: 0;
    height: 0;
}

pre,
wp-block-code {
    padding: 10px!important;
    background-color: #eee!important;
}

.addthis_toolbox {
    clear: both;
}

.format-video {
    background-color: white;
}

.format-video .entry-content a,
.format-video .entry-meta a,
.format-video .entry-content a:hover,
.format-video .entry-meta a:hover {
    color: #bc360a;
}

.warning,
.red {
    color: red;
}

.warning-border {
    border: 4px solid #ed6a31;
    padding: 20px;
}

body.logged-in .hide-login {
    /* hide content if logged in */
    display: none;
}

.entry-content a img {
    vertical-align: top!important;
}

.entry-content div.alignright {
    width: 25%;
    border: 2px solid lightgrey;
    float: right;
    padding: 5px;
    margin: 5px;
}

div.alignright p {
    margin: 5px;
}

div.alignright h4 {
    margin: 5px 0;
}

div.alignright ul {
    padding: 0 0 0 20px;
}

code.arduinoerror {
    color: #E34C00;
    background-color: black;
}

.site {
    border-left: none;
    border-right: none;
}

.strip {
    cursor: pointer;
}

.need-help {
    background-color: white;
    border: 4px solid #ed6a31;
    padding: 10px;
}

h2[id],
h3[id] {
    /* any h2 or h3 element that has an id (used to refer to as an internal link) */
    padding-top: 60px;
}

.hentry {
    padding: 10px 0;
}


/* specific pages: */


/* appdev page: */

#post-636 div.entry-thumbnail {
    float: right;
    width: 150px;
}

#post-636 h1.entry-title {
    display: inline;
}

#post-636 article.post-2499 h1 {
    display: none;
}

.grecaptcha-badge,
.grecaptcha-logo {
    display: none!important;
}


/* sensei lms: */

p.lesson-meta>* {
    margin-right: 10px;
}

p.lesson-meta .lesson-status {
    font-style: italic;
}

@media screen and (max-width: 767px) {
    /* small screens */
    .site-description {
        font-size: 16px;
    }
    .entry-summary p {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .at-share-btn,
    .at4-count {
        /* remove addthis sharing buttons on small screens */
        display: none!important;
    }
}

@media screen and (min-width: 1200px) {
    /* large screens */
    .need-help {
        position: fixed;
        width: 200px;
        top: 50vh;
        right: 0;
    }
    .entry-header,
    .entry-content,
    .entry-summary,
    .entry-meta {
        max-width: 1100px;
    }
}